<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="load_gripper" default="true" />
  <arg name="internal_controller" default="cartesian_impedance" />

  <rosparam param="franka_control/internal_controller">$(arg internal_controller)</rosparam>

  <include file="$(find rv_panda_driver)/launch/franka_control.launch.xml">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="internal_controller" value="$(arg internal_controller)" />
  </include>

  <!-- Set some project specific defaults for the panda arm. -->
  <node name="set_robot_defaults" pkg="rv_panda_driver" type="set_panda_defaults" respawn="false" output="screen"/>

  <include file="$(find rv_panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
  <include file="$(find rv_panda_moveit_config)/launch/moveit_rviz.launch" />

  <include file="$(find rv_panda_driver)/launch/cartesian_velocity_controller.launch.xml">
    <arg name="stopped" value="true" />
  </include>

  <node pkg="rv_panda_driver" type="panda_commander" name="arm" output="screen">
    <rosparam command="load" file="$(find rv_panda_driver)/config/config.yaml" /> 
  </node>
</launch>
